<h5>Chamada Emerêncial</h5>

   <div class="row" >

      <form class="col s12" id="formChamado" ng-submit="salveSubmit()">
        <div class="row">
          <div class="input-field col s6">
            <input id="nome" type="text" class="validate" ng-model="chamado.nome" ng-required="true">
            <label for="nome">Nome</label>
          </div>
          <div class="input-field col s6">
            <input id="sobrenome" type="text" class="validate" ng-model="chamado.sobrenome" ng-required="true">
            <label for="sobrenome">Sobrenome</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input  id="disabled" type="text" class="validate">
            <label for="disabled">Endereço</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate">
            <label for="password">Ponto de Referência</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate">
            <label for="email">Telefone</label>
          </div>
        </div>

        <span id="result"></span>

        <table>  
            <tbody>
              <tr>
                <td> Capturar imagem do Acidente</td>
                <td> <a  onclick="capturarImagem();"  class="waves-effect waves-circle waves-red btn-floating secondary-content red"><i class="material-icons">photo</i></a>
                </td>
              </tr>
            </tbody>
       </table> 
       <div >
         <img id="htmlImagem" class="responsive-img" ng-model="chamado.htmlImagem"></img>
       </div>
       <button class="btn waves-effect waves-light red " type="submit" name="action" ng-click="enviarForm(chamado)" ng-disabled="!chamado.nome ">Enviar
           <i class="material-icons right">send</i>
       </button>
 
  </form>                   
</div>

    
