<!DOCTYPE html>
<html >
<head>
<meta charset="utf-8" />
<meta name="format-detection" content="telephone=no" />
<!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
<meta charset="utf-8">
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<title>ModuloSAMU</title>

<link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>

</head>
<body ng-app="MyApp">

    
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper red darken-3">
      <a href="#!" class="brand-logo">Modulo Samu</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large"><img style="margin-top:20%;" src="fonts/menu.svg"></a>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#formularioChamado" onclick="$('.button-collapse').sideNav('hide');">Iniciar Chamado</a></li>
        <li><a href="#busacarChamado">Adamento do Chamado</a></li>
        <li><a href="#sobre">Sobre</a></li>
      </ul>
    </div>
  </nav>
</div>       
        
<div class="content" id="divDinamica">
       <ng-view></ng-view>
</div>
<div ng-controller="helow">
{{mensagem}}
  
</div>



    <script type="text/javascript" src="js/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/materialize.js"></script>
  

    <script type="text/javascript">
        app.initialize();
    </script>

    <script type="text/javascript" >     
       $(".button-collapse").sideNav({menuWidth: 245}); 
    </script>

    <!-- Links Agular -->
  
    <script src='bower_components/angular/angular.js'></script>
    <script src='bower_components/angular-route/angular-route.js'></script>

    <script src="bower_components/fastclick/lib/fastclick.js"></script>
  
    <script src='js/rotas.js'></script>
    <!-- End Links Agular -->

     <script type="text/javascript" src="js/camera.js"></script>
     <script type="text/javascript" src="js/geolocalizacao.js"></script>
     <script type="text/javascript" src="cordova.js"></script>

</body>
</html>