<h5>Chamada Emerêncial</h5>
<div class="row" >
  <form class="col s12" id="formChamado" name="formChamado" ng-submit="salveSubmit()">
    <div class="row">
      <div class="input-field col s6">
        <input id="nome" type="text" class="validate" ng-model="chamado.nome" ng-required="true">
        <label for="nome">Nome</label>
      </div>
      <div class="input-field col s6">
        <input id="sobrenome" type="text" class="validate" ng-model="chamado.sobrenome" ng-required="true">
        <label for="sobrenome">Sobrenome</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input  id="rua" type="text" class="validate" ng-model="chamado.rua">
        <label for="rua">Rua</label>
      </div>
      <div class="input-field col s6">
        <input  id="numero" type="text" class="validate" ng-model="chamado.numero">
        <label for="numero">Número</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="bairro" type="text" class="validate" ng-model="chamado.bairro">
        <label for="bairro">Bairro</label>
      </div>
      <div class="input-field col s6">
        <input id="cidade" type="text" class="validate" ng-model="chamado.cidade">
        <label for="cidade">Cidade</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="descricao" type="text" class="validate" ng-model="chamado.descricao">
        <label for="descricao">Descrição</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="ref" type="text" class="validate" ng-model="chamado.ref">
        <label for="ref">Ponto de Referência</label>
      </div>
    </div>
    <label>Tipo de Chamado</label>
    <p>
      <input class="with-gap" name="group1" ng-model="chamado.acidente"  ng-value="false" type="radio" id="test3"  />
      <label for="test3">Clínico</label>
    </p>
    <p>
      <input class="with-gap" name="group1" ng-model="chamado.acidente" ng-value="true" type="radio" id="test4"  />
      <label for="test4">Acidente</label>
    </p>
    <span id="result"></span>

    <table>  
      <tbody>
        <tr>
          <td> Capturar imagem do Acidente</td>
          <td><button  onclick="capturarImagem();" ng-disabled="!chamado.acidente" class=" waves-circle btn-floating secondary-content red"><i class="material-icons">photo</i></button>
          </td>
        </tr>
        <tr>
          <td> ggasj</td>
          <td> <a  onclick="iniciarCaptura();" class="waves-effect waves-circle waves-red btn-floating secondary-content red"><i class="material-icons">photo</i></a>
          </td>
        </tr>
      </tbody>
    </table> 
    <div >
      <img id="htmlImagem" ng-model="chamado.img" class="responsive-img"/>
    </div>
    
  <button class="btn red" type="submit" name="action" ng-click="enviarForm(chamado)" >Enviar
   <i class="material-icons right">send</i>
 </button>

</form>                   
</div>


